body{
    /*background-color: var(--color-primary);*/
}

.auth_container{
    display: flex;
    justify-content: center;
    /*height: 420px;*/
    margin: 10vh;
}

.form_auth_block{
    width: 535px;
    height: 565px;
    margin: auto auto;
    background-color: white;
    background-image: url("../images/pattern_3.png");
    background-size: 108%;
    background-position: bottom;
    background-repeat: repeat-x;
    border-radius: 4px;
    align-items: center;

    box-shadow: 0 0 10px  rgba(0,0,0,0.2); /* Параметры тени */
}

.logo{


    background: url("../images/loginLogo.png");
    background-size: contain;
    width: 256px;
    height: 75px;
    margin: 71px auto 10px;

}

/*.form_auth_block_content{*/
/*    margin: auto;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

.fogot_link{

    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    /*margin: 20px 0px;*/
    /*display: flex;*/
    /*justify-content: center;*/
}

.wrong_data{

    margin: 0px 0px;
    display: flex;
    justify-content: center;
    color: rgb(221, 4, 4);
}

.fogot_link > a{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 16px;
}

.wrong_password{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 16px;
    color:rgb(221, 4, 4)

}


.form_auth_block_header{
    display: block;
    margin: 5px auto;
    /* color:  #505F56; */
    font-size: 28px;
    font-family: "Segoe UI Semibold";
    /*font-family: "PlayfairDisplay";*/
    color: #907757;
    text-align: center;
}

.center{
    display: flex;
    justify-content: center;
}

.form_auth_login_block p, .form_auth_password_block p{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;

    font-family: "Segoe UI Semibold";

    color: #526158;
}
.form_auth_login_block, .form_auth_password_block {
    /*display: flex;*/
    /*width: 280px;*/
    /*justify-content: center;*/
    margin: 15px auto;
    /*height: 39px;*/
    /*border: 1px solid var(--color-primary);*/
}
/*.auth_icon_block{*/
/*    display: flex;*/

/*    height: 40px;*/
/*    width: 30px;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/


.textfield{
    border: 2px solid #EBE9E7;

    border-radius: 4px;
    border-bottom-color: #838281;
    width: 352px;
    height: 39px;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    /*padding-left: 10px;*/
}

.form_auth_button{
    display: block;
    width: 164px;
    height: 44px;
    margin: 25px auto;

    border-radius: 4px;

    border: none;
    cursor: pointer;
    background-color: #8AB69D;
    color: white;
    font-size: 16px;
}

.textfield:focus{
    outline: none;
}

.form_auth_login_block:hover, .form_auth_password_block:hover{
    border-color:  cornflowerblue;
}

.form_auth_button:hover{
    background-color: grey;
}
.form_auth_button:active{
    background-color: var(--color-primary);
}