
.container{

    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.container_mid{

    min-width: var(--min-page-width);
    max-width: var(--min-page-width);

    display: flex;
    justify-content: center;
    gap: 10px;
}

.container_info{
    width: 100%;
    box-shadow: 0 0 10px  rgba(0,0,0,0.2); /* Параметры тени */
    background-image: url("../images/pattern_4.png");

    background-repeat: repeat-y;
    background-size: 50%;
}

.header>p{
    font-family: "Segoe UI Semibold";
    font-size: 24px;
    color: #907757;
}

.data_body{
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
}
.password_body{
    display: flex;
    justify-content: left;
    margin: 10px 20px;
}

.user_data_container{
    width: 100%;
}

.center{
    display: flex;
    justify-content: center;
}
.center>div{
    margin: 10px auto;
}

.left{
    display: flex;
    justify-content: left;
}

.left>div{
    margin: 10px 0px 10px 35px;
}

.textfield, .role_selector{
    border: 2px solid #EBE9E7;

    border-radius: 4px;
    border-bottom-color: #838281;
    width: 352px;
    height: 39px;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    /*padding-left: 10px;*/
}

.msg_container{
    color: green;
    display: flex;
    justify-content: center;
    height: 20px;
}


.btn_save_container{
    display: flex;
    justify-content: space-between;

    border-bottom:2px solid #838281;

    margin: 50px 20px 20px 20px;

    padding-bottom: 20px;
}

.btn_change_password_container{
    display: flex;
    justify-content: center;


    margin: 50px 20px 20px 20px;


}

.btn{

    display: block;
    width: 204px;
    height: 44px;
    /*margin: 40px auto 30px;*/

    border-radius: 4px;

    border: none;
    cursor: pointer;
    background-color: #8AB69D;
    color: white;

    font-size: 16px;
}