body{
    background-color: white;
}

.reg_container{
    display: flex;
    justify-content: center;
    /*height: 420px;*/
    margin: 10vh;
}

.form_reg_block{
    /*width: 535px;*/
    /*height: 556px;*/
    margin: auto auto;
    background: white;
    background-size: cover;
    border-radius: 4px;

    background-color: white;
    background-image: url("../images/pattern_3.png");
    background-size: 108%;
    background-position: bottom;
    background-repeat: repeat-x;
    box-shadow: 0 0 10px  rgba(0,0,0,0.2); /* Параметры тени */
}




.logo{


    background: url("../images/loginLogo.png");
    background-size: contain;
    width: 256px;
    height: 75px;
    margin: 71px auto 10px;

}
.form_reg_block_header{
    display: block;
    margin: 5px auto;
    /* color:  #505F56; */
    font-size: 28px;
    font-family: "Segoe UI Semibold";
    /*font-family: "PlayfairDisplay";*/
    color: #907757;
    text-align: center;
}

.form_reg_block_content{
    display: flex;
}

.form_reg_block_content div{

    margin: 10px 10px 0px 10px;
}


.center{
    display: flex;
    justify-content: center;
}


.forgot_link{

    margin: 20px 0px;
    display: flex;
    justify-content: center;
}

.forgot_link > a{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 16px;
}




.reg_field_container{
    margin: 5px auto;
}

.reg_field_container p{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;

    font-family: "Segoe UI Semibold";

    color: #526158;
}

.role_selector{
    border: 0;
}



.textfield, .role_selector{
    border: 2px solid #EBE9E7;

    border-radius: 4px;
    border-bottom-color: #838281;
    width: 352px;
    height: 39px;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    /*padding-left: 10px;*/
}

.form_reg_button{

    display: block;
    width: 204px;
    height: 44px;
    margin: 40px auto 30px;

    border-radius: 4px;

    border: none;
    cursor: pointer;
    background-color: #8AB69D;
    color: white;

    font-size: 16px;
}

.textfield:focus{
    outline: none;
}

.role_selector:focus{
    outline: none;
}

.form_reg_login_block:hover, .form_reg_password_block:hover{
    border-color:  cornflowerblue;
}

.form_reg_button:hover{
    background-color: grey;
}
.form_reg_button:active{
    background-color: var(--color-primary);
}